<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#DB0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="../favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Pelipur Lapar</title>
</head>

<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Pelipur Lapar</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li class="navbar__items"><a href="/">Home</a></li>
        <li class="navbar__items"><a href="#/favorites">Favorites</a></li>
        <li class="navbar__items about">
          <a href="#" class="dropdown">About Us</a>
          <div class="about-content">
            <a href="https://www.instagram.com/robifirmnsyah/" aria-label="Instagram">Instagram</a>
            <a href="http://https://www.linkedin.com/in/robi-firmansyah-424b3b204/" aria-label="Linkedin">Linkedin</a>
            <a href="https://github.com/robifirmnsyah" aria-label="Github">Github</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <main id="mainContent"></main>
  <footer>
    <p>All data obtained from Resto Apps</p>
  </footer>
</body>

</html>